html {
    width: 100% ;
    height: 100% ;
    margin: 0 ;
    padding: 0 ;
    text-align: center ;
    display: grid ;
    align-items: center ;
    /*justify-items: center ; Maybe use this later*/
}

.showHeaderWhenLoaded {
    transform: scale(0, 0) ;
    animation: h1ScaleAndCenter 1.5s forwards ;
}

.showIntroWhenLoaded {
    opacity: 0 ;
    animation: introductionFadeIn 2s forwards 1.5s ;
}

@keyframes h1ScaleAndCenter {
    50% {
        transform: scale(1, 1) ;
    }
    100% {
        transform: translateY(-50%) ;
    }
}

@keyframes introductionFadeIn {
    100% {
        opacity: 1 ;
    }
}